
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>business Base Template</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
  .active {
    color:yellow !important;
    border: 1px;
    background:blueviolet;
    border-radius:10px
  }
</style>
<body class="d-flex flex-column min-vh-100">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top">
    <div class="container">
      <a class="navbar-brand fw-bold text-primary" href="/contact">BUSINESS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Desktop Nav -->
      <div class="collapse navbar-collapse fs-5" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link {% if request.path=='/'%}active{%endif%}" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link {% if request.path=='/service' %}active{%endif%}" href="/service">Services</a></li>
          <li class="nav-item"><a class="nav-link {%if request.path=='/about'%}active{%endif%}" href="/about">About</a></li>
          <li class="nav-item"><a class="nav-link {if request.path=='/contact'%}active{endif%}" href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Mobile Offcanvas Sidebar -->
  <div class="offcanvas offcanvas-end" tabindex="-2" id="mobileMenu">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Menu</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link {% if request.path=='/'%}active{%endif%}" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link {% if request.path=='service'%}active{%endif%} " href="service">Services</a></li>
        <li class="nav-item"><a class="nav-link {% if request.path=='about'%}active{%endif%} " href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link {% if request.path=='contact'%}active{%endif%} " href="/contact">Contact</a></li>
      </ul>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </div>
  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer class="bg-dark text-light py-2 mt-auto shadow-sm">
    <div class="container text-center">
        <div class="mb-2 gap-5 d-flex justify-content-center">
            <div>@2026 EZZY All rights reserved.</div>
        </div>
    </div>
    </footer>